
services:
  nginx:
    image: openresty/openresty:alpine-fat
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"      
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./conf.d:/etc/nginx/conf.d
      - ./certs:/opt/openresty/nginx/conf/certs
      - ./html:/var/www/html/
      - ./nginx/log:/var/log/openresty
    tmpfs:
      - /var/cache/nginx:rw,noexec,nosuid,size=512m


  php:
    image: php:fpm-alpine
    container_name: php
    restart: unless-stopped
    volumes:
      - ./html:/var/www/html
    user: "www-data:www-data"      

  php74:
    image: php:7.4-fpm-alpine
    container_name: php74
    restart: unless-stopped
    volumes:
      - ./html:/var/www/html
    user: "www-data:www-data"      

  mysql:
    image: mysql
    container_name: mysql
    restart: unless-stopped
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: webroot
      MYSQL_USER: kejilion
      MYSQL_PASSWORD: kejilionYYDS

  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    volumes:
      - ./redis:/data
